<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="KDBS_restaurant.Properties.Settings.KDBSConnectionString"
            connectionString="Data Source=A\B;Initial Catalog=KDBS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>